/* *********** */
/* BELOW 800PX */
/* *********** */
@media (max-width: 50em) {
  .resource-container {
    grid-template-columns: repeat(2, 24rem);
  }
  .header-nav-list {
    flex-wrap: wrap;
    gap: 2.2rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/* BELOW 560px */
@media (max-width: 35em) {
  .header-title {
    font-size: 3rem;
  }
  .section-header-text {
    font-size: 2.4rem;
  }
  .resource-container {
    grid-template-columns: 24rem;
  }
  .header-nav-list {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 1.6rem;
  }
  /* RESOURCE STYLING */
  .resource {
    width: 24rem;
    margin: 0 8rem 4rem 0;
  }
  .resource-logo {
    width: 2.4rem;
    height: 2.4rem;
    margin-bottom: 1rem;
  }

  /* LINK STYLING */
  .resource-link:link,
  .resource-link:visited {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }
  .resource-description {
    font-size: 1.4rem;
  }
}

/* BELOW 432PX */
@media (max-width: 27em) {
  .header-logo-img {
    width: 9.6rem;
    height: 9.6rem;
  }
  .header-author {
    font-size: 2rem;
  }
  .header-title {
    font-size: 2rem;
  }
}
