/* SPACING SCALE (px) */
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* FONT SIZE SCALE (px) */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* COLOR PALETTE */
/*   
  - main color: #36ffd6
  - secondary color: #28bdd0
  - grayish: #252b33 #3b4047
*/

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #252b33;
  color: #36ffd6;
}

/* PAGE HEADER STYLING */
.page-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 3.2rem;

  padding: 2rem;
}
.header-logo-img {
  width: 12rem;
}
.header-author {
  font-size: 2.4rem;
  justify-self: right;
}
.header-title {
  font-size: 4.4rem;
  grid-column: 1 / -1;
  text-align: center;
}
.header-nav {
  grid-column: 1 / -1;
}
.header-nav-list {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  justify-content: space-around;
}
.nav-link:link,
.nav-link:visited {
  color: #28bdd0;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 300ms;
}
.nav-link:hover,
.nav-link:active {
  color: #36ffd6;
}

/* SECTION STYLING */
.section {
  padding: 3rem;
}
.section:nth-of-type(odd) {
  background-color: #3b4047;
}
.section-header {
  text-align: center;
  margin-bottom: 2.4rem;
}
.section-header-img {
  stroke: #36ffd6;
  fill: #36ffd6;
  width: 3.6rem;
  margin-bottom: 1.6rem;
}
.section-header-text {
  font-size: 4.4rem;
}
.resource-container {
  display: grid;
  grid-template-columns: repeat(3, 24rem);
  justify-content: center;
}

/* RESOURCE STYLING */
.resource {
  width: 24rem;
  margin: 0 8rem 4rem 0;
}
.resource-logo {
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 1.2rem;
}

/* LINK STYLING */
.resource-link:link,
.resource-link:visited {
  display: inline-block;
  color: #28bdd0;
  font-size: 1.8rem;
  transition: all 300ms;
  margin-bottom: 0.8rem;
}
.resource-link:hover,
.resource-link:active {
  color: #36ffd6;
}
.resource-description {
  font-size: 1.6rem;
}

/* FOOTER STYLING */
.page-footer {
  border-top: 1px solid #3b4047;
  text-align: center;
  padding: 3rem;
}
